/************Footer Formatting************/
footer {
    text-align: center;
    background-color: #0075a2;
    color: white;
    padding: 10px;
}

/*Format footer p tags*/
footer p {
    margin-top: 25px;
    font-size: 0.9em;
}

/*Format Accordion  list items*/
.accordion-body ul {
    list-style-type: none;
    text-align: left;
}

.accordion-body ul li {
    margin: 10px 0;
}

/*Format accordion list a tags*/
.accordion-body ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 1.6em;
}
/************End of Footer Formatting************/