/***********************************General Formatting***********************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body Formatting*/
body {
    background-color: #0075a2;
}
/***********************************End of General Formatting***********************************/